<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login">
        Username: <input type="text" id="txtUserName" /> <br />
        Password: <input type="password" id="txtPassWord" /><br />
        <button id="btnSignIn">Login</button>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Js/Login.js"></script>
</body>
</html>