<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/Login/signIn.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="title-login">
            <h1>Đăng nhập</h1>
        </div>
        <div class="body-login">
            <div class="small-container">
                <div class="input-login">
                    <div class="info-input">
                        <div class="label-info-input">
                            <b>Tài khoản:</b>
                        </div>
                        <div class="text-info-input">
                            <div class="icon-input" id="icon-input-username"></div>
                            <input type="text" placeholder="Tên đăng nhập" id="txtUsername" required />
                        </div>
                    </div>
                    <span class="error-input" id="error-input-username"></span>
                    <div class="info-input">
                        <div class="label-info-input">
                            <b>Mật khẩu:</b>
                        </div>
                        <div class="text-info-input">
                            <div class="icon-input" id="icon-input-password"></div>
                            <input type="password" placeholder="Mật khẩu" id="txtPassword" required />
                        </div>
                    </div>
                    <span class="error-input" id="error-input-password"></span>
                </div>
                <div class="remember-login">
                    <div class="check-remember-login">
                        <input type="checkbox" /> Ghi nhớ mật khẩu
                    </div>
                    <div class="forgot-password">
                        <a href="getPassword.html">Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="button-login">
                    <input type="button" value="Đăng nhập" id="btnSignIn"/>
                    <a href="signUp.html"><input type="button" value="Đăng ký" id="btnSignUp" /></a>
                </div>
            </div>
        </div>
        <hr class="hr-login" />
        <div class="footer">
            <div class="title-contact">
                <i>Thông tin liên hệ</i>
            </div>
            <div class="icon-contact">
                <div class="icon-contact-icon" id="icon-contact-facebook">
                </div>
                <div class="icon-contact-icon" id="icon-contact-gmail">
                </div>
            </div>
        </div>
    </div>
    <script src="../../Js/jquery-3.5.1.min.js" type="text/javascript"></script>
    <script src="../../Js/Login/signIn.js" type="text/javascript"></script>
</body>
</html>