.total-cost{
    border: 1px solid #000;
    margin: 10px;
}

#footer-order-detail{
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #000;
}

#order-detail{
    margin-right: 20px;
}

#order-detail p{
    font-size: 18px;
}

.cost{
    padding: 5px 10px;
}