body {
    font-size: 16px;
    margin: 0;
}

*:focus {
    outline: none;
 }

.container{
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    width: 600px;
    border-radius: 10px;
    padding-bottom: 40px;
    border: #000000 1px solid;
}

.title-sign-up{
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

    .title-sign-up h1{
        color: #124581;
        padding-top: 8%;
    }

.small-container{
    margin: 0 auto;
    width: 80%;
}

.required-notation{
    color: #ff0000;
    padding-left: 10px;
}

.input-sign-up{
    text-align: left;
}

.info-input{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.label-info-input{
    flex: 20%;
    align-items: center;
    padding: 15px 0px 5px 0px;
    margin-right: 10px;
    min-width: 80px;
    text-align: left;
}

.text-info-input{
    flex: 80%;
    min-width: 100px;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
    width: 80%;
}

    .text-info-input input{
        padding: 10px 10px 0px 10px;
        width: 100%;
        border: none;
    }

.radio-info-input{
    flex: 80%;
    display: flex;
    text-align: left;
    padding: 20px 0px 10px 0px;
}

.radio-info-input span{
    margin-right: 20px;
}

.provision-sign-up{
    display: flex;
    margin-top: 20px;
}

.check-provision-sign-up{
    flex: 50%;
    text-align: left;
}

.already-account{
    text-align: right;
    margin-bottom: 40px;
}

a{
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #0000ff;
}

#provision{
    text-decoration: underline;
    cursor: pointer;
}

.button-sign-up{
    margin-bottom: 20px;
}

    .button-sign-up input{
        cursor: pointer;
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 15px;
    }

    .button-sign-up #btnSignUp{
        background-color: #015478;
        color: #ffffff;
    }

    .button-sign-up input:hover{
        border: 2px solid #000000;
    }


.hr-sign-up{
    width: 80%;
}

.footer{
    margin-top: 20px;
}

.icon-contact{  
    display: flex;
    margin-top: 20px;
}

.icon-contact-icon{
    flex: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

    #icon-contact-facebook{
        background: url("../../Images/facebook.png") no-repeat;
        background-size: 40px 40px;
        background-position: right;
        margin-right: 5px;
    }
    #icon-contact-gmail{
        background: url("../../Images/gmail.png") no-repeat;
        background-size: 40px 40px;
        background-position: left;
        margin-left: 5px;
    }

.error-input{
    font-style: italic;
    color: #ff0000;
}
