body {
    font-size: 16px;
}

*:focus {
    outline: none;
 }

.container{
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 40px;
    border: #000000 1px solid;
}

.title-login{
    align-items: center;
    height: 80px;
}

    .title-login h1{
        color: #124581;
        padding-top: 8%;
    }

.small-container{
    margin: 0 auto;
    width: 80%;
}

.input-login{
    text-align: left;
}

.info-input{
    margin: 20px 0px 10px 0px;
}

.text-info-input{
    display: flex;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
}

    .text-info-input .icon-input{      
        margin-top: 10px;
        width: 16px;
        height: 16px;
    }

       #icon-input-username{
            background: url("../../Images/usernamesmall.png") no-repeat;
            background-size: 14px 14px;
        }

       #icon-input-password{
            background: url("../../Images/passwordsmall.png") no-repeat;
            background-size: 14px 14px;
        }

    .text-info-input input{
        padding: 10px 10px 0px 10px;
        width: 100%;
        border: none;
    }

.remember-login{
    display: flex;
}

.check-remember-login{
    flex: 50%;
    text-align: left;
}

.forgot-password{
    text-align: right;
    margin-bottom: 40px;
}

a{
    font-style: italic;
    text-decoration: none;
    color:#000000;
}

a:hover, a:visited{
    color: #000000;
}

.button-login{
    margin-bottom: 20px;
}

    .button-login input{
        cursor: pointer;
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 15px;
    }

    .button-login #btnSignIn{
        margin-right: 5px;
        background-color: #015478;
        color: #ffffff;
    }

    .button-login input:hover{
        border: 2px solid #000000;
    }

    .button-login #btnSignUp{
        margin-left: 5px;
    }

.hr-login{
    width: 80%;
}

.footer{
    margin-top: 20px;
}

.icon-contact{  
    display: flex;
    margin-top: 20px;
}

.icon-contact-icon{
    flex: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

    #icon-contact-facebook{
        background: url("../../Images/facebook.png") no-repeat;
        background-size: 40px 40px;
        background-position: right;
        margin-right: 5px;
    }
    #icon-contact-gmail{
        background: url("../../Images/gmail.png") no-repeat;
        background-size: 40px 40px;
        background-position: left;
        margin-left: 5px;
    }

.error-input{
    font-style: italic;
    color: #ff0000;
}

/* Quên mật khẩu */
#btnForgetPassword {
    margin-top: 20px;
    background-color: #015478;
    color: #ffffff;
}

#btnSubmitCode {
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #015478;
    border-radius: 10px;
    color: #ffffff;
}

    #btnSubmit:hover {
        border: 2px solid #000000;
        padding: 3px 5px 3px 5px;
    }